* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.container {
  display: flex;
  width: 100vw;
}
/* Home */
.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 95vh;
  border-radius: 50px;
  color: antiquewhite;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  transition: flex 0.7s ease-in;
}
.panel.active {
  flex: 7;
}
.panel h1 {
  opacity: 0;
  position: absolute;
}
.panel.active h1 {
  background-color: aliceblue;
  opacity: 0.9;
  color: #293851;
  width: 60%;
  font-size: 5rem;
  text-align: center;
  border-radius: 20px;
  box-shadow: -5px 10px 5px 4px #b59d98;
  transition: opacity 0.3s ease-in 0.4s;
}
/* About */
.panel h2 {
  opacity: 0;
  position: absolute;
}
.panel.active h2 {
  color: #1e150f;
  font-size: 4rem;
  position: absolute;
  bottom: 1%;
  right: 5%;
  text-shadow: -2px 2px 10px #293851;
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
.panel img {
  opacity: 0;
  position: absolute;
}
.panel.active img {
  opacity: 1;
  position: absolute;
  transition: opacity 0.3s ease-in 0.4s;
}

/* @media (max-width: 400px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
} */
.portrait {
  width: 18%;
  box-shadow: -2px 2px 10px 2px #293851;
}
.portrait:hover {
  width: 20%;
  box-shadow: -2px 2px 10px 2px #293851;
}
.img1 {
  position: absolute;
  top: 10%;
  right: 5%;
  transform: rotate(20deg);
  z-index: 0;
}
.img2 {
  position: absolute;
  top: 12%;
  right: 25%;
  transform: rotate(350deg);
  z-index: 1;
}
.img4 {
  position: absolute;
  bottom: 30%;
  left: 38%;
  transform: rotate(20deg);
  z-index: 0;
}
.img5 {
  position: absolute;
  bottom: 20%;
  left: 5%;
  transform: rotate(340deg);
  z-index: 1;
}
.img6 {
  position: absolute;
  top: 5%;
  left: 20%;
  transform: rotate(350deg);
  z-index: 1;
}
/* Skills */
.panel h3 {
  opacity: 0;
  position: absolute;
}
.panel.active h3 {
  color: #293851;
  font-size: 4rem;
  position: absolute;
  top: 1%;
  left: 5%;
  text-shadow: -2px 2px 10px #293851;
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
.panel p {
  opacity: 0;
  position: absolute;
}
.panel.active p {
  color: #293851;
  font-size: 3rem;
  position: absolute;
  text-shadow: -2px 2px 10px #293851;
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
.panel.active p:hover {
  font-size: 4rem;
  text-shadow: -2px 2px 10px #293851;
}
.html {
  top: 20%;
  left: 10%;
}
.css {
  top: 30%;
  left: 10%;
}
.javascript {
  top: 40%;
  left: 10%;
}
/* Contact */
.panel a {
  opacity: 0;
}
.panel.active a {
  color: #293851;
  font-size: 8rem;
  text-shadow: -2px 2px 10px #293851;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.panel.active a:hover {
  font-size: 9rem;
  text-shadow: -2px 2px 10px #293851;
}
